<div [ngClass]="'item'">
    <div [ngClass]="'item-content'">
        <img [src]="Content.image" alt="no image" [ngStyle]="{'width':'100%','height':'auto'}">
    </div>
    <div [ngClass]="'item-content'">
        <h3 [ngClass]="'item-title'">{{Content.name|uppercase}}</h3>
        <p>Category : {{Content.category}}, <span [ngClass]="'item-price'">{{Content.price}} TND</span></p>
        <p>Created at {{Content.created|mydate}}</p>
        <button (click)="viewMeal()"> Details</button>
    </div>
</div>

