<div class="card">
    {{message}}
    <h2 class="header-form">Login</h2>
    <div class="center-element">
        <img src="{{kjm}}" alt="unavailable">
    </div>
    <div class="input-form">
        <label for="">E-mail</label>
        <input type="text" [placeholder]="value" [(ngModel)]="emailValue">
        <p>{{emailValue}}</p>
    </div>
    <div class="input-form">
        <label for="">Password</label>
        <input type="text">
    </div>
    <button class="btn-form" (click)="formSubmitted()">Submit</button>
</div>