    <!--<div [ngClass]="'item'" *ngFor="let item of list">
        <div ngClass="'item-content'">
            <img src="{{item.image}}" alt="no image" [ngStyle]="{'width':'100%', 'height':'auto'}">
        </div>
        <div class="item-content"> 
            <h3 [ngClass]="'item-title'">{{item.name | uppercase}}</h3>
            <p>Category : {{item.category}}, <span [ngClass]="'item-price'">{{item.price}}</span></p>
            <p>Created at : {{item.created | mydate}}</p>
        </div>
    </div>!-->

    <div class="alert" [style.display] = "alertState">
        <button class="btn-alert" (click) = "toggleAlert()">X</button>
        <div class="alert-content">
            <img [src]="image" [ngStyle]="{'width':'100%'}">
            <h3>{{name|uppercase}}</h3>
            <p>Category : {{category}}, <span [ngClass]="'item-price'">{{price}} TND</span></p>
            <p>
                Ingredients: <br>
                <span *ngFor = "let ingredient of Ingredients">{{ingredient}},</span>
            </p>
            <p>Created at {{created|mydate}}</p>
        </div>
    </div>

    <div [ngClass]="'listview'">
        <app-meal [Content]="list[0]" (details)="receiveDetails($event)"></app-meal>
        <app-meal [Content]="list[1]" (details)="receiveDetails($event)"></app-meal>
        <app-meal [Content]="list[2]" (details)="receiveDetails($event)"></app-meal>
    </div>
    <!--<div [ngClass]="'listview'">
  <ng-container *ngIf="meals | async as meals">
    <app-meal *ngFor="let meal of meals" [Content]="meal" (details)="receiveDetails($event)"></app-meal>
  </ng-container>
</div>!-->
