.listview{
    width: 100%;
}

.item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.item-title{
    text-transform: uppercase;
    padding: 3px 0;
}

.item-price{
    background-color: rgb(156,162,238);
    color: #fff;
    padding: 2px 5px;
    border-radius: 10%;
}