.card{
    margin: 10px;
    border: 1px solid#333e46;
}

.header-form{
    background-color: #333e46;
    color: #fff;
    padding: 5px;
}

.center-element{
    text-align: center;
}

.input-form{
    width: 100%;
    padding: 5px;
}

.input-form label{
    display: block;
    width: 100%;
    padding: 2px 0;
    font-size: 15px;
}

.input-form input[type="text"]{
    width: 100%;
    padding: 2px 0;
    font-size: 15px;
}

.btn-form{
    padding: 5px;
    font-size: 15px;
    border: none;
    background-color: #333e46;
    color: #fff;
    margin:5px;
}

.btn-form:hover{
    background-color: #9DBCD4;
}

.center-element img{
    margin-top: 10px;
    width: 100px;
    border-radius: 10%;
    border: 2px solid #2b3f4e;
}